{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="home" id="home">
    <div class="row">
        {% include './navigation.html' %}
        <div class="col-7 tweets-section">
            <h2>HOME</h2>
            {% include './tweet-form.html' %}
            {% include './tweets.html' %}
        </div>
        <div class="col-4">
            what is happening
        </div>
    </div>
</div>

<script src="{% static 'twitter/js/home.js' %}"></script>
{% endblock content %}