{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="home" id="home">
    <div class="row">
        {% include './navigation.html' %}
        <div class="col-7 tweets-section">
            {% if other_profile %}
            <h2>{{ profile.user.username }}</h2>
            <div class="profile-header">
                <div class="row">
                    <table>
                        <tr>
                            <td class="col-4">
                                <img src="{{ profile.image.url }}" alt="" class="profile-img">
                            </td>
                            <td class="col-4">

                            </td>
                            <td class="follow col-4">
                                <button class="btn btn-primary">Follow</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-4">
                                <p>{{ profile.user.username }}</p>
                            </td>
                            <td class="col-4">
                                <p>{{ profile.f2.count }} Following</p>
                            </td>
                            <td class="col-4">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-4">
                                <p>@<span>{{ profile.handler }}</span></p>
                            </td>
                            <td class="col-4">
                                <p>{{ profile.f1.count }} Followers</p>
                            </td>
                            <td class="col-4">
                            </td>
                        </tr>
                    </table>
                </div>    
            </div>
            {% else %}
            <h2>{{ user.username }}</h2>
            <div class="profile-header">
                <div class="row">
                    <table>
                        <tr>
                            <td class="col-4">
                                <img src="{{ user.profile.image.url }}" alt="" class="profile-img">
                            </td>
                            <td class="col-4">

                            </td>
                            <td class="follow col-4">
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="col-4">
                                <p>{{ user.username }}</p>
                            </td>
                            <td class="col-4">
                                <p>{{ user.profile.f2.count }} Following</p>
                            </td>
                            <td class="col-4">
                            
                            </td>
                        </tr>
                        <tr>
                            <td class="col-4">
                                <p>@<span>{{ user.profile.handler }}</span></p>
                            </td>
                            <td class="col-4">
                                <p>{{ user.profile.f1.count }} Followers</p>
                            </td>
                            <td class="col-4">
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endif %}
            
            {% if other_profile is not True %}
                {% include './tweet-form.html' %}
            {% endif %}
            
            {% include './tweets.html' %}
        </div>
        <div class="col-4">
            what is happening
        </div>
    </div>
</div>

<script src="{% static 'twitter/js/home.js' %}"></script>
{% endblock content %}