<div class="tweets">
    <div v-for="tweet in tweets" class="tweet">
        <div class="tweet-header row">
            <div class="col-1">

            </div>
            <div class="col-11">
                <p v-html="tweet.tweet_author_user_username"></p>
                <p>@<span v-html="tweet.tweet_author_handler"></span></p>
            </div>
        </div>
        <div class="tweet-content">
            <p v-html="tweet.tweet_content"></p>
        </div>
        <div class="tweet-interactions">
            <div><i class="far fa-comment"></i></div>
            <div><i class="fas fa-retweet"></i></div>
            <div><i class="far fa-heart"></i></div>
        </div>
    </div>
</div>