<div class="tweet-form-section row">
    <div class="col-1">
        <div>
            <img src="{{ user.profile.image.url }}" alt="" class="profile-img">
        </div>
    </div>
    <form class="tweet-form col-11" id="tweet-form" @submit.prevent="postTweet">
        <input type="hidden" name="author" value="{{ user.id }}">
        <textarea v-model:value="tweetContent" name="content" id="content" cols="30" rows="10" placeholder="What's happening?"></textarea>
        <ul id="handler-search-results">
            <li 
                v-for="result in handlerSearchResults" 
                @click="replaceHandler(result)"
                class="handler-search-result">
                @<span v-html="result"></span>
            </li>
        </ul>
        <ul id="handler-search-results">
            <li 
                v-for="result in hashtagSearchResults" 
                @click="replaceHashtag(result)"
                class="handler-search-result">
                @<span v-html="result"></span>
            </li>
        </ul>
        <div class="tweet-form-submit">
            <input type="submit" value="Tweet" class="btn btn-primary">
        </div>
    </form>
</div>