<div>
    <div class="search">
        <input v-model:value="searchQuery" type="text" id="search" class="form-control" placeholder="search...">
        <ul class="search-results">
            <li 
                v-for="result in searchResults"
                class="search-result">
                <a :href="result.url">
                    <span v-html="result.user_username"></span> (@<span v-html="result.handler"></span>)
                </a>
            </li>
        </ul>
    </div>
    <div class="most-used-hashtags">
        <h4>MOST USED HASHTAGS</h4>
        <div v-for="hashtag in mostUsedHashtags">
            <a :href="hashtag.url">#<span v-html="hashtag.name"></span></a> (<span v-html="hashtag.usage_count"></span>)
        </div>
    </div>
</div>