.tweet-interactions {
    display: flex;
    justify-content: space-around;
}

.tweet {
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.tweet p {
    margin: 0;
}

.tweet-content {
    padding: 5px;
}

.tweet-interaction {
    font-size: 20px;
}

.tweet-interaction:hover {
    cursor: pointer;
}

.replay:hover {
    color: rgb(61, 61, 243);
}

.retweet:hover {
    color: rgb(61, 61, 243);
}

.like:hover {
    color: rgb(236, 49, 59);
}

.blue {
    color: rgb(61, 61, 243);
}

.pink {
    color: rgb(236, 49, 59);
}

.interaction-count {
    padding: 3px;
}